<html>
  <head>
    <title>Bramka</title>
  </head>
  <body>
    <img src="https://bramka/api/stream/video_feed">
<!--    <audio autoplay controls style="display:none;">-->
    <audio controls>
      <source src="https://bramka/api/stream/audio_feed" type="audio/x-wav;codec=pcm">
    </audio>
<!--    <script>-->
<!--      var xpath = "//audio[@autoplay]";-->
<!--      var result = document.evaluate(xpath, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null);-->
<!--      if (result.singleNodeValue) {-->
<!--        var audioElement = result.singleNodeValue;-->
<!--        audioElement.play();-->
<!--      }-->
<!--    </script>-->
  </body>
</html>

